<section class="section section-cards">
	<div class="container">
		<div class="card__list flex flex-between">
			<div class="card__item">
				<a href="#" class="card__link">
					<div class="card__header flex flex-h-center">
						<img src="./img/logo/btc.svg" class="card__img" alt="btc description">
						<p class="card__pair fw-700">BTC/DBA 0.00</p>
					</div>
					<div class="card__content flex flex-between">
						<div class="card__left left">
							<p class="card__volume fw-500">24 hour volume</p>
							<p class="card__cost fw-600">Bitcoin cash 0.000000</p>
						</div>
						<div class="card__right right">
							<p class="card__volume fw-500">24 hour change</p>
							<p class="card__cost card__cost--green fw-700">0,00%</p>
						</div>
					</div>
				</a>
			</div>
			<div class="card__item">
				<a href="#" class="card__link">
					<div class="card__header flex flex-h-center">
						<img src="./img/logo/usdt.svg" class="card__img" alt="usdt description">
						<p class="card__pair fw-700">USDT/DBA 0.00</p>
					</div>
					<div class="card__content flex flex-between">
						<div class="card__left left">
							<p class="card__volume fw-500">24 hour volume</p>
							<p class="card__cost fw-600">USD 0.000000</p>
						</div>
						<div class="card__right right">
							<p class="card__volume fw-500">24 hour change</p>
							<p class="card__cost card__cost--green fw-700">0,00%</p>
						</div>
					</div>
				</a>
			</div>
			<div class="card__item">
				<a href="#" class="card__link">
					<div class="card__header flex flex-h-center">
						<img src="./img/logo/eth.svg" class="card__img" alt="eth description">
						<p class="card__pair fw-700">ETH/DBA 0.00</p>
					</div>
					<div class="card__content flex flex-between">
						<div class="card__left left">
							<p class="card__volume fw-500">24 hour volume</p>
							<p class="card__cost fw-600">Ethereum 0.000000</p>
						</div>
						<div class="card__right right">
							<p class="card__volume fw-500">24 hour change</p>
							<p class="card__cost card__cost--green fw-700">0,00%</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>