<section class="section section-features center">
	<div class="container">
		<div class="features__header">
			<h4 class="features__subtitle txt-gray">The instant bank-to-bank payment solutions for:</h4>
			<h2>Advanced features</h2>
		</div>
		<div class="features__content">
			<div class="features__list flex">
				<div class="features__card">
					<div class="features__card-header">
						<div class="features__card-img-holder">
							<img src="./img/icons/lock.svg" alt="icon description">
						</div>
					</div>
					<div class="features__card-content">
						<h4 class="fw-600">Trusted by institutionsand individuals</h4>
						<p class="features__card-txt txt-gray">All of products and services are on hightly secure bank-grade technology platforms,
							and we undergo regular independent tecnology and financial audits</p>
					</div>
				</div>
				<div class="features__card features__card--active">
					<div class="features__card-header">
						<div class="features__card-img-holder">
							<img src="./img/icons/ok.svg" alt="icon description">
						</div>
					</div>
					<div class="features__card-content">
						<h4 class="fw-600">A powerful trading engine and API</h4>
						<p class="features__card-txt txt-gray">Our low lancy trading platform is fast, complaint &
							reliable, ensuring best execusion no matter when or where ypu are. We provide higth quality APLs to ensure easy and robus integration and trading automation</p>
					</div>
				</div>
				<div class="features__card">
					<div class="features__card-header">
						<div class="features__card-img-holder">
							<img src="./img/icons/discovery.svg" alt="icon description">
						</div>
					</div>
					<div class="features__card-content">
						<h4 class="fw-600">Multiple country support</h4>
						<p class="features__card-txt txt-gray">We currently provide local currency trading and fast deposits & withdrawals in a number of countries</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>