<section class="section section-hero section-first">
	<div class="container">
		<div class="swiper-container hero">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content flex-h-center">
							<div class="slider__img-wrapper">
								<img src="./img/slider/slider_africa_1.png" class="slider__img" alt="africas description">
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Africa`s most trusted, secure and reliable crypto exchange</h1>
								<h3 class="txt-gray slider__subtitle">MEs Enjoy ZERO Deposit FEES with DafriXchange</h3>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">get started</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container">
						<div class="slider__content slider__content--down">
							<div class="slider__img-wrapper">
								<div class="slider__img-holder slider__img-holder--top">
									<img src="./img/slider/slider_trading_cut.png" class="slider__img" alt="trading description">
								</div>
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Buy crypto with a <mark>credit card</mark> at a competitive rate</h1>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">Buy DBA</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content flex-h-center">
							<div class="slider__img-wrapper">
								<img src="./img/slider/slider_visa.png" class="slider__img" alt="crypto description">
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Buy Crypto with a <mark>Credit Card</mark></h1>
 								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">buy crypto</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content">
							<div class="slider__img-wrapper slider__img-wrapper--bottom">
								<img src="./img/slider/slider_zar.png" class="slider__img" alt="zar description">
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Instantly deposit <mark>ZAR</mark> into your DafriXchange Wallet</h1>
								<h3 class="txt-gray slider__subtitle">MEs Enjoy ZERO Deposit FEES with DafriXchange</h3>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">deposit</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content">
							<div class="slider__img-wrapper slider__img-wrapper--bottom">
								<img src="./img/slider/slider_ngn.png" class="slider__img" alt="ngn description">
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Instantly deposit <mark>NGN</mark> into your DafriXchange Wallet</h1>
								<h3 class="txt-gray slider__subtitle">MEs Enjoy ZERO Deposit FEES with DafriXchange</h3>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">deposit</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content">
							<div class="slider__img-wrapper slider__img-wrapper--bottom">
								<img src="./img/slider/slider_usd.png" class="slider__img" alt="usd description">
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Instantly deposit <mark>USD</mark> into your DafriXchange Wallet</h1>
								<h3 class="txt-gray slider__subtitle">MEs Enjoy ZERO Deposit FEES with DafriXchange</h3>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">deposit</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content flex-h-center">
							<div class="slider__img-wrapper ">
								<img src="./img/slider/slider_dba.png" class="slider__img" alt="dba description">
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white"><mark>DBA</mark> Token sale</h1>
								<h3 class="txt-gray slider__subtitle ml-155">Register to be part of Digital Bank of Africa</h3>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">join</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content flex-h-center">
							<div class="slider__img-wrapper">
								<div class="slider__img-holder slider__img-holder--top">
									<img src="./img/slider/slider_dafri.png" class="slider__img" alt="dafribbank description">
								</div>
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white">Deposit with <mark>DafriBank</mark></h1>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">deposit</a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__container slider__container--left">
						<div class="slider__content slider__content--down">
							<div class="slider__img-wrapper">
								<div class="slider__img-holder slider__img-holder--top">
									<img src="./img/slider/slider_eth.png" class="slider__img" alt="eth description">
								</div>
							</div>
							<div class="slider__info-wrapper right">
								<h1 class="slider__title txt-white ml-40">Buy <mark>BTC, ETH, DBA</mark> with local currencies</h1>
								<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">Buy</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div> 
		</div>
	</div>
</section>