<section class="section section-partners">
	<div class="container">
		<div class="partners__header center">
			<h2 class="txt-dblue">Supported by Africa's leading companies.</h2>
		</div>
		<div class="partners__holder">
			<div class="partners__list">
				<div class="partners__item">
					<img src="./img/logo/dafri-groupllc.svg" alt="logo dafri group llc">
				</div>
				<div class="partners__item">
					<img src="./img/logo/umeh.svg" alt="logo umeh">
				</div>
				<div class="partners__item">
					<img src="./img/logo/darfi_bank.svg" alt="logo darfi bank">
				</div>
				<div class="partners__item">
					<img src="./img/logo/omaha.svg" alt="logo omaha">
				</div>
				<div class="partners__item">
					<img src="./img/logo/royalvy.svg" alt="logo royalvy">
				</div>
				<div class="partners__item">
					<img src="./img/logo/dafripay.svg" alt="logo dafripay">
				</div>
				<div class="partners__item">
					<img src="./img/logo/dafrixchange.svg" alt="logo dafrixchange">
				</div>
				<div class="partners__item">
					<img src="./img/logo/dafriair.svg" alt="logo dafri air">
				</div>
				<div class="partners__item">
					<img src="./img/logo/richkids.svg" alt="logo richkids air">
				</div>
				<div class="partners__item">
					<img src="./img/logo/b-exchange.svg" alt="logo b exchange">
				</div>
				<div class="partners__item">
					<img src="./img/logo/umehmotors.svg" alt="logo umehmotors">
				</div>
				<div class="partners__item">
					<img src="./img/logo/dafritechnologies.svg" alt="logo dafritechnologies">
				</div>
				<div class="partners__item">
					<img src="./img/logo/women-in-forex.svg" alt="logo women-in-forex">
				</div>
				<div class="partners__item">
					<img src="./img/logo/umeh-media.svg" alt="logo umeh-media">
				</div>
				<div class="partners__item">
					<img src="./img/logo/omaha-lounge.svg" alt="logo omaha-lounge">
				</div>
				<div class="partners__item">
					<img src="./img/logo/dafriestate.svg" alt="logo dafriestate">
				</div>
				<div class="partners__item">
					<img src="./img/logo/fx-magazine.svg" alt="logo fx-magazine">
				</div>
				<div class="partners__item">
					<img src="./img/logo/crypto-magazine.svg" alt="logo crypto-magazine">
				</div>
				<div class="partners__item">
					<img src="./img/logo/star-magazine.svg" alt="logo star-magazine">
				</div>
				<div class="partners__item">
					<img src="./img/logo/mlm.svg" alt="logo mlm">
				</div>
				<div class="partners__item">
					<img src="./img/logo/royalivy-spa.svg" alt="logo royalivy-spa">
				</div>
				<div class="partners__item">
					<img src="./img/logo/daily-afrika.svg" alt="logo daily-afrika">
				</div>
				<div class="partners__item">
					<img src="./img/logo/saeceo.svg" alt="logo saeceo">
				</div>
				<div class="partners__item">
					<img src="./img/logo/royalivy-nails.svg" alt="logo royalivy-nails">
				</div>
				<div class="partners__item">
					<img src="./img/logo/umeh-music.svg" alt="logo umeh-music">
				</div>
			</div>
		</div>
	</div>
</section>