<section class="section section-solutions">
	<div class="container">
		<div class="solutions__wrapper">
			<div class="solutions__header">
				<h2 class="left txt-gray">The instant bank-to-bank payment solutions for:</h2>
			</div>
			<div class="solutions__content">
				<div class="solutions__list flex flex-wrap">
					<div class="solutions__row">
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/activity.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">Real Time Market Information</span>
						</div>
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/csv_export.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">CSV Export, Trade History & Reporting
							</span>
						</div>
					</div>
					<div class="solutions__row">
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/mobile.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">Mobile Trading on Android or iOS</span>
						</div>
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/liquidity.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">Depth Liquidity Indicators</span>
						</div>
					</div>
					<div class="solutions__row">
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/charts.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">Advanced Charts</span>
						</div>
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/deposit.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">Fast Bank Deposit & Withdrawals</span>
						</div>
					</div>	
					<div class="solutions__row">
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/setting.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">API Access for Automated Trading</span>
						</div>
						<div class="solutions__item flex">
							<img class="solutions__img" src="./img/icons/market.svg" alt="icon description">
							<span class="solutions__txt txt-dgray">Competitive Fee Structure with Market Maker Incentives</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>