<section class="section section-started">
	<div class="started__holder">
		<div class="container">
			<div class="started__container flex">
				<div class="started__info txt-white">
					<h2 class="started__title txt-white">Ready to get started</h2>
					<h4 class="started__subtitle txt-gray">Create your merchant account today</h4>
					<a href="#" class="btn btn-lg btn-rd-lg btn-gradient tablet-none">Buy DBA</a>
				</div>
				<div class="started__img-wrapper">
					<div class="started__img-holder">
						<img src="./img/mobile/mobile_started.png" alt="phone started">
					</div>
				</div>
				<div class="started__footer">
					<a href="#" class="btn btn-lg btn-rd-lg btn-gradient">Buy DBA</a>
				</div>	
			</div>
		</div>
	</div>
</section> 