<section class="section section-slider">
	<div class="container">
		<div class="swiper-container flex">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slider__content flex">
						<img src="./img/slider/step_1.png" class="swiper__img" alt="login mobile">
						<div class="slider__txt-holder">
							<p class="txt-gray fw-600 sz-24 center">Log in</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__content flex">
						<img src="./img/slider/step_2.png" class="swiper__img" alt="login mobile">
						<div class="slider__txt-holder">
							<p class="txt-gray fw-600 sz-24 center">Will be user authentication</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider__content flex">
						<img src="./img/slider/step_3.png" class="swiper__img" alt="login mobile">
						<div class="slider__txt-holder center">
							<p class="txt-gray fw-600 sz-24 center">Will be landing page or trade portal                 </p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper__panel">
				<!-- <div class="swiper__header">
					<h2 class="center">Log in to your account</h2>
				</div> -->
				<div class="swiper__controls flex">
					<div class="swiper__prev">
						<img src="./img/arrows/arrow_prev.svg" alt="arrow prev">
					</div>
					<div class="swiper-pagination"></div>
					<div class="swiper__next">
						<img src="./img/arrows/arrow_prev.svg" alt="arrow next">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>