@import "../base/reset",
		"../base/custom",
		"../base/mixins",
		"../base/functions",
		"../base/variables",
		"../base/typography",
		"../base/helpers",
		"../base/media",

		"../components/buttons";

.section {
    &-password {
		background: rgb(18,18,20);
		background: linear-gradient(90deg, rgba(18,18,20,1) 0%, rgba(18,18,20,1) 24%, rgba(238,238,238,1) 24%, rgba(238,238,238,1) 100%);
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			height: 100%;                
			width: 392px;
			background: url("data:image/svg+xml,%3Csvg width='392' height='1024' viewBox='0 0 392 1024' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-6.29713e-05 -2L0 1024L243.991 1024C442.723 721.036 439.944 495.051 243.991 -2.00001L-6.29713e-05 -2Z' fill='%23121214'/%3E%3C/svg%3E") no-repeat top left;
			// background: url('../assets/images/vawe/vawe_right.svg') no-repeat top right;
			// background-size:;
			left: 24%;
			
            z-index: 0;
            @include max-screen($mobile) {
                display: none;
            }
		}
        @include max-screen($mobile) {
            background: rgba(242,242,242,1)
        }
        .section-inner {
            padding: 148px 0;
            position: relative;
            z-index: 1;
            @include max-screen($mobile) {
                padding: 40px 0;
               ;
            }
        }
	}
}

