<footer class="footer">
	<div class="container">
		<div class="footer__container flex">
			<div class="footer__left">
				<div class="logo__container">
					<a href="#" class="logo__link" >
						<img src="./img/logo/logo_dafri.svg" class="logo__img" alt="dafrixchange" height="175" width="54">
					</a>
				</div>
				<ul class="footer__logo-list flex">
					<li class="footer__logo-item">
						<a href="#" class="footer__logo-link" >
							<img src="./img/logo/pci-seal.svg" class="logo__pci" alt="logo pci dss">
						</a>
					</li>
					<li class="footer__logo-item">
						<a href="#" class="footer__logo-link footer__logo-link--margin">
							<img src="./img/logo/secure-seal.svg" class="logo__pci" alt="logo thwte" style='margin-top: 3px;'>
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__center flex">
				<div class="office__wrapper">
					<div class="office__block">
						<span class="office__name fw-700">Johannesburg Office</span>
						<ul class="office__list">
							<li class="office__item">8 Riversands Boulevard, Riversands,</li>
							<li class="office__item">Johannesburg</li>
							<li class="office__item">South Africa</li>
							<li class="office__item">1684</li>
							<li class="office__item office__item--margin">
								<a href="#" class="office__link fw-700">View on Google Maps</a>
							</li>
						</ul>
					</div>			
					<div class="office__block">
						<span class="office__name fw-700">Eastern Cape office</span>
						<ul class="office__list">
							<li class="office__item">17 Aloe Street, Fortgale,</li>
							<li class="office__item">Mthatha, Eastern Cape, </li>
							<li class="office__item">South Africa</li>
							<li class="office__item">5100</li>
							<li class="office__item office__item--margin">
								<a href="#" class="office__link fw-700">View on Google Maps</a>
							</li>
						</ul>
					</div>	
				</div>
				<div class="navigation__wrapper">
					<nav class="navigation">
						<ul class="navigation__list navigation__list--columns">
							<li class="navigation__item">
								<a href="#" class="navigation__link">Why us</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Buy DBA</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Trade</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">DeFi</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Payment agent</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Blog</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Learning Portal </a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Affiliate</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Careers</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">FAQ</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Contact</a>
							</li>
						</ul>
					</nav>
					<nav class="navigation">
						<ul class="navigation__list ">
							<li class="navigation__item">
								<a href="#" class="navigation__link">Legal</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Privacy Policy and Terms of Use</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">AML/KYC Policy</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Listing & Delisting Policy</a>
							</li>
							<li class="navigation__item">
								<a href="#" class="navigation__link">Security</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="footer__right">
				<ul class="contact__list">
					<li class="contact__item">
						<span class="contact__mark">t /</span>
						<a href="tel:+27115685053" class="contact__link">+27 11 568 5053</a>
					</li>
					<li class="contact__item">
						<span class="contact__mark">e /</span>
						<a href="mailto:info@dafriexchange.com" class="contact__link">info@dafriexchange.com </a>
					</li>
				</ul>
				<ul class="social__list right">
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="./img/logo/facebook.svg" alt="facebook logo">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="./img/logo/tvitter.svg" alt="twitter logo">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="./img/logo/linkedin.svg" alt="linkedin logo">
						</a>
					</li>
					<li class="social__item">
						<a href="#" class="social__link">
							<img src="./img/logo/instagram.svg" alt="instagram logo">
						</a>
					</li>
				</ul>
				<div class="copyright">
					<p>DafriXchange™. All rights reserved.</p>
					<p>A DafriGroup PLC company</p>
				</div>
			</div>
		</div>
	</div>
</footer>
