@import "../base/reset",
		"../base/custom",
		"../base/mixins",
		"../base/functions",
		"../base/variables",
		"../base/typography",
		"../base/helpers",
		"../base/media",

		"../components/buttons",
		"../components/forms";

.section {
	&-hero {
		position: relative;
		background: $bg_black;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: rem-calc(300);
			height: rem-calc(570);
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url("data:image/svg+xml,%3Csvg width='318' height='570' viewBox='0 0 318 570' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.2' width='570' height='570' rx='285' transform='matrix(-1 0 0 1 570 0)' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='570' y1='436' x2='142' y2='36' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%235D5D64'/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat top right;
			// background: url('../assets/images/slider/slider_circle.png') no-repeat top right;
			background-size: contain;
			z-index: 1;
		}
		.container {
			max-width: 1400px;
		}
		.slider {
			&__container {
				position: relative;
				padding: 50px 0 75px;
				&--left {
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						height: 100%;
						width: 265px;
						background: linear-gradient(90.24deg, #121214 0.09%, rgba(18, 18, 20, 0.5) 46.68%, rgba(18, 18, 20, 0) 93.28%);
						z-index: 1;
					}
				}
				// &-down {
				// 	&:before {
				// 		content: '';
				// 		display: block;
				// 		position: absolute;
				// 		left: 0;
				// 		right: 0;
				// 		width: 100%;
				// 		bottom: 45px;
				// 		height: 133px;
				// 		background: linear-gradient(180deg, rgba(18, 18, 20, 0) 0%, #121214 100%);
				// 		z-index: 1;
				// 	}
				// }
				
			}
			&__content {
				position: relative;
				@include display-flex;
				@include max-screen($desktop) {
					@include flex-direction(column);
				}
				&--down {
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						width: 100%;
						bottom: 45px;
						height: 133px;
						background: linear-gradient(180deg, rgba(18, 18, 20, 0) 0%, #121214 100%);
						z-index: 1;
						@include max-screen($desktop) {
							display: none;
						}
					}
				}
			}
			&__img {
				// position: relative;
				// &--top {
				// 	position: relative;
				// 	&:before {
				// 		content: '';
				// 		position: absolute;
				// 		display: block;
				// 		left: 0;
				// 		top: 0;
				// 		width: 100%;
				// 		height: 172px;
				// 		background: rgb(18,18,20);
				// 		background: linear-gradient(180deg, rgba(18,18,20,1) 0%, rgba(18,18,20,0.5) 50%, rgba(18,18,20,0) 100%);
				// 		z-index: 1;
				// 	}
				// }
				&-wrapper {
					width: 46%;
					@include max-screen($desktop) {
						position: relative;
						width: 100%;
						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							right: 0;
							width: 100%;
							bottom: 0;
							height: 133px;
							background: linear-gradient(180deg, rgba(18, 18, 20, 0) 0%, #121214 100%);
							z-index: 1;
						}
						img {
							margin: 0 auto;
							
						}
					}
					@include max-screen($tablet) {
						img {
							max-width: 70%;
						}
					}
					&--bottom {
						align-self: flex-end;
						position: relative;
						margin-bottom: -100px;
					}
				}
				&-holder {
					position: relative;
					bottom: 45px;
					left: 30px;
					@include max-screen($desktop) {
						bottom: 0;
						left: 0;
						img {
							margin: 0 auto;
						}
					}
					&--top {
						&:before {
							content: '';
							position: absolute;
							display: block;
							left: 0;
							top: 0;
							width: 100%;
							height: 172px;
							background: rgb(18,18,20);
							background: linear-gradient(180deg, rgba(18,18,20,1) 0%, rgba(18,18,20,0.5) 50%, rgba(18,18,20,0) 100%);
							z-index: 1;
						}
					}
				}
			}
			&__info {
				&-wrapper {
					width: 54%;
					position: relative;
					z-index: 10;
					@include max-screen($desktop) {
						width: 100%;
						padding: 0 15px;
						text-align: center;
						margin-top: 50px;
					}
					.ml-155 {
						@include max-screen($desktop) {
							margin-left: 0;
						}
					}
					.ml-40 {
						@include max-screen($desktop) {
							margin-left: 0;
						}
					}
				}
			}
			&__title {
				margin-bottom: rem-calc(20);
				@include max-screen($phone) {
					font-size: 36px;
				}
			}
			&__subtitle {
				margin-bottom: rem-calc(30)
			}
		}
		.swiper {
			&-container {
				z-index: 5;
				@include max-screen($desktop) {
					margin: 0 -15px;
				}
			}
			&-slide {
				padding: 0 50px;
				@include max-screen($desktop) {
					bottom: 25px;
					padding: 0;
				}
			}
			&-button{
				&-prev,
				&-next {
					color: $dark_gray;
					top: 35%;
					&:hover {
						@include animate(all, $animation_speed, linear);
						transform: scale(1.3);
					}
				}
				&-prev {
					left: 0;
					@include max-screen($widescreen) {
						left: 15px;
					}
					@include max-screen($phone) {
						top: 30%;
					}
				}
				&-next {
					@include max-screen($widescreen) {
						right: 15px;
					}
					@include max-screen($phone) {
						top: 30%;    
					}
				}
			}
			&-container {
				&-horizontal {
					.swiper-pagination {
						&-bullets {
							bottom: 100px;
							@include max-screen($desktop) {
								bottom: 25px;
							}
							@include max-screen($phone) {
								bottom: 65px;
							}
						}
						&-bullet {
							border-radius: 2px;
							opacity: 1;
							height: 4px;
							width: 40px;
							background: #29292D;
							&:last-child {
								width: 20px;
							}
							&.swiper-pagination-bullet-active {
								background: $primary;
								width: 116px;
							}
							&:hover {
								box-shadow: 0px 0px 7px 2px #7DFFAB;
							}
						}
					}
				}
			} 
		}
	}
}
.box {
	&-flex {
		>div.slider {
			&__info {
				&-wrapper {
					width: 40%;
				}
			}
		}
	}
}


